.nous{

    &__header{
        background: url(../../../images/limo.jpg) no-repeat;
        width: 100%;
        height: calc(100vh - 163px);
        background-position: center;
        object-fit: cover;
        background-size: cover;
        position:sticky;
        top: 0px;
        z-index: -2;
        overflow: hidden;
    }


    &__content{
        background: #fff;
    }
    
}