.chauffer{


    &__header{
        background: url(../../../../images/2.jpg) no-repeat;
        width: 100%;
        height: calc(100vh - 103px);
        background-position: center;
        object-fit: cover;
        background-size: cover;

    }

   
    &__content{
        background: #fff;
    }
    
}