.navbar__component{
    background: #000;

    a{
        color: rgb(161, 160, 160);
        text-decoration: none;

        &:active, &:hover{
            color: #fff!important;
        }
    }


    .navbar .navbar-brand{

        display: flex;
        flex-direction: row;
        align-items:center;

        img{
            width: 20%;
            object-fit: cover;
            margin-right: 20px;
        }

    }


}