@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

*::-webkit-scrollbar{
  background-color: #000;
}

*::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 30% 0;
  border: 2px solid rgba(255, 255, 255, 0.315);
  box-shadow: 5px 5px 10px #fff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s all ease-in
}
a{
  text-decoration: none;
}
code {
  font-family: 'Roboto', sans-serif;
}
