.excursion{

    li{
        display: list-item;
        list-style-type: '-';
    }

    &__header{
        background: url(../../../../images/mercedes-maybach-pullman.jpg) no-repeat;
        width: 100%;
        height: calc(100vh - 103px);
        background-position: center;
        object-fit: cover;
        background-size: cover;

    }

    .tourisme {
        padding-bottom: 6rem;

        .img-container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
     
            img{
                width: 17em;
            }
         }
    }


    &__content{
        background: #fff;
    }
    
}